Django==1.4.6
Fabric==1.7.0
PIL==1.1.7
Paste==1.7.5.1
Pillow==2.2.1
South==0.7.5
amqp==1.0.13
anyjson==0.3.3
argparse==1.2.1
astroid==1.0.1
beautifulsoup4==4.3.2
billiard==2.7.3.34
boto==2.15.0
celery==3.0.20
coverage==3.7
decorator==3.4.0
distribute==0.6.24
django-admin-sortable==1.4.9
django-appconf==0.6
django-celery==3.0.17
django-compressor==1.2
django-grappelli==2.4.5
django-guardian==1.1.1
django-jenkins==0.14.1
django-mathjax==0.0.2
django-nose==1.2
-e git+https://www.github.com/OpenMOOC/django-tastypie.git@256f741a1ef54d3e406c51e76c7f30b84079576f#egg=django_tastypie-dev
django-tinymce==1.5.1b4
django-userena==1.2.4
django-voting==0.2
djangosaml2==0.10.0
easy-thumbnails==1.4
ecdsa==0.9
html2text==3.200.3
httplib2==0.8
kombu==2.5.15
logilab-common==0.60.0
micawber==0.3.0
-e git+https://git.assembla.com/edcellence.moocng.git@589302e97e5e40275dec32554a7e20dc1782b5ed#egg=moocng-dev
nose==1.3.0
paramiko==1.12.0
psycopg2==2.4.2
pycrypto==2.6.1
pylint==1.0.0
pymongo==2.4.2
pysaml2==0.4.3
python-dateutil==1.5
python-memcached==1.48
python-mimeparse==0.1.4
pytz==2013.7
repoze.who==1.0.18
requests==1.2.0
selenium==2.37.2
six==1.4.1
wsgiref==0.1.2
zope.interface==4.0.5
